@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body{
background-color: rgba(201, 200, 196, 0.096);

}

.active {
    border-bottom: 1px solid #777777;
}

.navbar{
    background-color: gainsboro;
}
/*callout*/

.callout{
    height: 50vh;

    background: url("../images/2.png")no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: gainsboro;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout h1{
    color: white
    
}

/* homepage */
.hours{
    background-color: gainsboro;
    padding-top: 0px;
}

.hours div{
  color: black;
}


.jumbotron{
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about{
    background-color: gainsboro;
}

.reviews{
    background-color: gainsboro;
    padding-top: 20px;

}

html {
  box-sizing: border-box;
}
/* credit: code about section and cards taken from https://www.w3schools.com/howto/howto_css_about_page.asp adjustments made to code to fit page needs*/
/*profiles page*/
.profiles {
    background-color: gainsboro;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: gainsboro;
  color: black;
}

 .heading{
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: 3.5px;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #333;
}


.column{
    float: left;
}

.job-title{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: -8px;
    text-align: center;
}

.about{
    font-size: 15px;
    margin: 15px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    color: #333;
}
.title {
  color: grey;
}

.footer-details{
    padding-top: 20px;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


/* credit: code for styling price sheet taken from https://www.w3schools.com/howto/howto_css_pricing_table.asp  adjust code to fit page needs.*/
/*prices*/
.pricechart {
    background-color: gainsboro;
}

.price {
  list-style-type: none;
  border: 2px solid gray;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price .header {
  background-color: gray;
  color:black;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: rgba(255, 0, 0, 0.808);
  font-size: 20px;
}

.profiles {
    background-color: gainsboro;
}