@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body{
background-color: rgba(201, 200, 196, 0.096);

}

.active {
    border-bottom: 1px solid #777777;
}

.navbar{
    background-color: gainsboro;
}
.callout{
    height: 50vh;

    background: url("../images/2.png")no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: gainsboro;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout h1{
    color: white
    
}

.hours{
    background-color: gainsboro;
    padding-top: 0px;
}

.hours div{
  color: black;
}


.jumbotron{
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 100px;
}


.about{
    background-color: gainsboro;
}

.reviews{
    background-color: gainsboro;
    padding-top: 20px;

}

.profiles{
    background: url(../images/shavebrush.jpg);
   
}
/* credit: code about section and cards taken from https://www.w3schools.com/howto/howto_css_about_page.asp adjustments made to code to fit page needs*/

html {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: gainsboro;
  color: black;
}

.container {
  padding: 0 16px;
}


.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



.footer-details{
    padding-top: 20px;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


/* credit: code for styling price sheet taken from https://www.w3schools.com/howto/howto_css_pricing_table.asp  adjust code to fit page needs.*/
.price {
  list-style-type: none;
  border: 2px solid gainsboro;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price .header {
  background-color: rgba(0, 0, 255, 0.589);
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: rgba(255, 0, 0, 0.808);
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
}

}

